{{> layout/header}}

<div class="container mt-5 mb-5">
    <div class="paper-list-card">
        <div class="list-header">
            <a href="/api/paper-menu/paper/{{model.paperId}}/question/save-form" class="btn btn-primary">문제등록</a>
        </div>

        <div class="detail-info-section">
            <strong>시험일:</strong> {{model.evaluationDate}}<br>
            <strong>시험장소:</strong> {{model.evaluationRoom}}<br>
            <strong>시험장비:</strong> {{model.evaluationDevice}}<br>
            <strong>교과목:</strong> {{model.subjectTitle}}<br>
            <strong>훈련교사:</strong> {{model.teacherName}}<br>
            <strong>문항수:</strong> {{model.questionCount}}<br>
        </div>

        {{#model.questions}}
            <div class="card mb-4 question-card">
                <div class="card-body">
                    <h5 class="card-title">{{no}}. {{title}}</h5>
                    <div class="badge bg-secondary my-2">배점: {{totalPoint}}점</div>

                    {{#stimulusImg}}
                        <div>
                            <img src="{{stimulusImg}}" alt="지문 이미지" class="img-fluid mb-3" style="max-height: 200px;">
                        </div>
                    {{/stimulusImg}}

                    <div>
                        {{#options}}
                            <div class="form-check mb-1 d-flex align-items-center">
                                <input class="form-check-input me-2" type="radio" name="answer-{{questionId}}"
                                       {{#isRight}}checked{{/isRight}} disabled>
                                <label>
                                    {{no}}. {{content}}
                                </label>
                            </div>
                        {{/options}}
                    </div>
                </div>
            </div>
        {{/model.questions}}
    </div>
</div>

{{> layout/footer}}