{{> layout/header}}

<div class="container mt-5 mb-5">
    <div class="paper-list-card">
        <div class="list-header">
            <a href="/api/paper-menu/subject/{{subjectId}}/paper/save-form" class="btn btn-primary">시험지등록</a>
        </div>

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>시험유형</th>
                    <th>시험방식</th>
                    <th>교과목</th>
                    <th>문항수</th>
                    <th>과정명/회차</th>
                    <th>평가일</th>
                </tr>
                </thead>
                <tbody>
                {{#models}}
                    <tr class="click-tr" onclick="location.href='/api/paper-menu/paper/{{paperId}}'">
                        <th>{{paperType}}</th>
                        <th>{{evaluationWay}}</th>
                        <td>{{subjectTitle}}</td>
                        <td>{{questionCount}}</td>
                        <td>{{courseTitle}}/{{courseRound}}회차</td>
                        <td>{{evaluationDate}}</td>
                    </tr>
                {{/models}}
                </tbody>
            </table>
        </div>

    </div>
</div>

{{> layout/footer}}