{{> layout/header}}

<div class="container p-5">

    <div class="card">
        <div class="card-header"><b>{{courseTitle}}/{{courseRound}}회차</b></div>

        <div class="card-body">
            <form id="save-form" action="/api/course-menu/course/{{courseId}}/student/save" method="post">
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="학생명" name="name" value="보스">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="생년원일6자리" name="birthday" value="860205">
                </div>
                <button type="submit" class="btn btn-primary form-control">학생 등록</button>
            </form>
        </div>
    </div>
</div>

{{> layout/footer}}