{{> layout/header}}

<div class="container mt-5 mb-5">
    <div class="paper-list-card">
        <ul class="pagination d-flex justify-content-end">
            {{#model.prevIndex}}
                <li class="page-item"><a class="page-link"
                                         href="/api/document-menu/subject/{{model.subjectId}}/no4?currentIndex={{model.prevIndex}}
                    ">이전학생</a>
                </li>
            {{/model.prevIndex}}

            {{#model.nextIndex}}
                <li class="page-item"><a class="page-link"
                                         href="/api/document-menu/subject/{{model.subjectId}}/no4?currentIndex={{model.nextIndex}}
                    ">다음학생</a>
                </li>
            {{/model.nextIndex}}
        </ul>

        <h1 class="page-title">개인별평가표</h1>

        <div class="d-flex justify-content-between detail-info-section">
            <div>
                <strong>시험일</strong> : {{model.evaluationDate}} <br>
                <strong>평가장소</strong> : {{model.evaluationRoom}} <br>
                <strong>평가장비</strong> : {{model.evaluationDevice}} <br>
                <strong>교과목</strong> : {{model.subjectTitle}} <br>
                <strong>훈련교사</strong> : {{model.teacherName}} <br>
                <strong>훈련생</strong> : {{model.studentName}} <br>
                <strong>문항수</strong> : {{model.questionCount}} <br>
                <strong>만점기준</strong> : {{model.manjumScore}} <br>
                <strong>총점</strong> : {{model.score}} / <strong>백분율</strong> : {{model.finalScore}}<br>
                <strong>수준</strong> : {{model.grade}} <br>
                <strong>통과여부</strong> : {{model.examPassState}} <br>
                <strong>평가유형</strong> : {{model.examState}} <br>
            </div>
            <div>
                <div class="d-flex justify-content-end mb-3">연번 : {{model.no}}</div>
                <table class="sign-table">
                    <tr>
                        <td class="sign-header">훈련교사</td>
                        <td class="sign-header">훈련생</td>
                    </tr>
                    <tr>
                        <td class="sign-box">
                            <img class="sign-fit" src="{{model.teacherSign}}">
                        </td>
                        <td class="sign-box">
                            {{#model.isStudentSign}}
                                <img class="sign-fit" src="{{model.studentSign}}">
                            {{/model.isStudentSign}}
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        {{#model.answers}}
            <div class="question-card">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h5 class="card-title">{{no}}. {{title}}</h5>
                        <div class="text-end">
                            <small class="text-muted">정답: {{answerNumber}}번</small><br>
                            <small class="text-muted">점수: {{studentPoint}}점</small>
                        </div>
                    </div>

                    <div class="badge bg-secondary mb-3">배점: {{totalPoint}}점</div>

                    {{#stimulusImg}}
                        <div>
                            <img src="{{stimulusImg}}" alt="지문 이미지" class="img-fluid mb-3">
                        </div>
                    {{/stimulusImg}}

                    <div>
                        {{#options}}
                            <div class="form-check mb-2 d-flex align-items-center">
                                <input class="form-check-input me-2 optionNo" type="radio"
                                       name="question-{{questionId}}"
                                       value="{{no}}" {{#isSelect}}checked{{/isSelect}} disabled>
                                <label>{{no}}. {{content}}</label>
                            </div>
                        {{/options}}
                    </div>
                </div>
            </div>
        {{/model.answers}}

        <div class="card">
            <div class="card-header fw-bold">총평</div>
            <div class="card-body">
                <textarea id="teacherComment" class="form-control" rows="4" readonly>{{model.teacherComment}}</textarea>
            </div>
        </div>
    </div>
</div>

{{> layout/footer}}
