{{> layout/header}}
<input type="hidden" id="subjectId" value="{{subjectId}}">

<div class="container p-5">

    <div class="card">
        <div class="card-header"><b>교과목 요소를 등록 해주세요</b></div>

        <div class="card-body">

            <button type="button" class="btn btn-primary mb-2" onclick="addElement()">요소 추가</button>

            <div id="element-input-box">
                <div class="subject-element-item">
                    <div class="mb-3">
                        <input type="text" class="form-control no" placeholder="순번" value="1">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control subtitle" placeholder="교과목 요소명" value="오버로딩">
                    </div>
                </div>
            </div>

            <button type="button" onclick="saveElement()" class="btn btn-primary form-control">교과목 요소 등록</button>

        </div>
    </div>
</div>
<script>

    async function saveElement() {
        const subjectId = document.querySelector("#subjectId").value;
        const items = document.querySelectorAll("#element-input-box .subject-element-item");

        const subjectElements = Array.from(items).map((element) => {
            const no = element.querySelector(".no").value;
            const subtitle = element.querySelector(".subtitle").value;
            return {no, subtitle};
        });

        try {
            const response = await fetch(`/api/course-menu/subject/${subjectId}/element/save`, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json; charset=utf-8"
                },
                body: JSON.stringify(subjectElements)
            });

            if (response.ok) {
                location.href = `/api/course-menu/subject/${subjectId}/element`;
            } else {
                const errorData = await response.json();
                alert(errorData.msg);
            }
        } catch (error) {
            alert("서버 요청 중 오류가 발생했습니다.");
            console.error(error);
        }
    }


    function addElement() {
        $("#element-input-box").append(makeElement());
    }

    function makeElement() {
        return `<div class="subject-element-item">
                    <div class="mb-3">
                        <input type="text" class="form-control no" placeholder="순번" value="2">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control subtitle" placeholder="교과목 요소명" value="객체지향">
                    </div>
                </div>`;
    }
</script>


{{> layout/footer}}