{{> layout/header}}

<input type="hidden" id="courseId" value="{{model.courseId}}">
<input type="hidden" id="tabNum" value="{{tabNum}}">

<div class="container mt-5 mb-5">
    <div class="paper-list-card">
        <div class="list-header">
            <div class="d-flex"><a id="subject-save-form"
                                   href="/api/course-menu/course/{{model.courseId}}/subject/save-form?courseTitle={{model.courseTitle}}
                &courseRound={{model.courseRound}}" class="btn
                btn-primary me-3">교과목등록</a> <a id="student-save-form"
                                               href="/api/course-menu/course/{{model.courseId}}/student/save-form?courseTitle={{model.courseTitle}}
                &courseRound={{model.courseRound}}" class="btn
                btn-primary">학생등록</a>
            </div>
        </div>

        <div class="course-summary-info">
            <p><strong>과정명:</strong> {{model.courseTitle}}</p>
            <p><strong>과정목표:</strong> {{model.coursePurpose}}</p>
            <p><strong>과정회차:</strong> {{model.courseRound}}</p>
            <p><strong>진행여부:</strong> {{model.courseStatus}}</p>
        </div>

        <hr class="mb-4">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="subject-tab" data-bs-toggle="tab" data-bs-target="#subject-tab-pane"
                        type="button" role="tab" aria-controls="subject-tab-pane" aria-selected="true">해당 과정의 교과목들
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="student-tab" data-bs-toggle="tab" data-bs-target="#student-tab-pane"
                        type="button" role="tab" aria-controls="student-tab-pane" aria-selected="false">해당 과정의 학생들
                </button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">

            <div class="tab-pane fade show active" id="subject-tab-pane" role="tabpanel" aria-labelledby="subject-tab"
                 tabindex="0">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>연번</th>
                            <th>교과목ID</th>
                            <th>교과목명</th>
                            <th>NCS</th>
                            <th>훈련수준</th>
                            <th>교과목시간</th>
                            <th>학습방법</th>
                            <th>평가방법</th>
                            <th>시작일</th>
                            <th>종료일</th>
                            <th>평가일</th>
                            <th>재평가일</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#model.subjects}}
                            <tr class="click-tr"
                                onclick="location.href='/api/course-menu/subject/{{subjectId}}/element'">
                                <td>{{no}}</td>
                                <td>{{code}}</td>
                                <td>{{title}}</td>
                                <td>{{ncsType}}</td>
                                <td>{{grade}}</td>
                                <td>{{totalTime}}</td>
                                <td>{{learningWay}}</td>
                                <td>{{evaluationWay}}</td>
                                <td>{{startDate}}</td>
                                <td>{{endDate}}</td>
                                <td>{{evaluationDate}}</td>
                                <td>{{reEvaluationDate}}</td>
                            </tr>
                        {{/model.subjects}}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="tab-pane fade" id="student-tab-pane" role="tabpanel" aria-labelledby="student-tab" tabindex="0">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>연번</th>
                            <th>학생ID</th>
                            <th>학생명</th>
                            <th>생년월일</th>
                            <th>성별</th>
                            <th>연락처</th>
                            <th>이메일</th>
                            <th>주소</th>
                            <th>수료여부</th>
                            <th>총평</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#model.students}}
                            <tr>
                                <td>{{no}}</td>
                                <td>{{code}}</td>
                                <td>{{name}}</td>
                                <td>{{birth}}</td>
                                <td>{{gender}}</td>
                                <td>{{phone}}</td>
                                <td>{{email}}</td>
                                <td>{{address}}</td>
                                <td>{{studentStatus}}</td>
                                <td class="comment-cell">{{comment}}</td>
                            </tr>
                        {{/model.students}}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

{{> layout/footer}}