{{> layout/header}}

<div class="container mt-5 mb-5">
    <div class="paper-list-card">
        <div class="list-header">
            <a href="/api/course-menu/subject/{{model.subjectId}}/element/save-form" class="btn btn-primary">교과목 요소
                등록</a>
        </div>
        
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>순번</th>
                    <th>교과목 요소</th>
                    <th>평가기준</th>
                </tr>
                </thead>
                <tbody>
                {{#model.subjectElements}}
                    <tr>
                        <td>{{no}}</td>
                        <td>{{subtitle}}</td>
                        <td>{{subjectElementPurpose}}</td>
                    </tr>
                {{/model.subjectElements}}
                </tbody>
            </table>
        </div>
    </div>
</div>

{{> layout/footer}}