{{> layout/header}}

<div class="container mt-5 mb-5">
    <div class="paper-list-card">
        <div class="detail-info-section">
            <strong>시험일:</strong> {{model.evaluationDate}}<br>
            <strong>시험장소:</strong> {{model.evaluationRoom}}<br>
            <strong>시험장비:</strong> {{model.evaluationDevice}}<br>
            <strong>교과목:</strong> {{model.subjectTitle}}<br>
            <strong>훈련교사:</strong> {{model.teacherName}}<br>
            <strong>훈련생:</strong> {{model.studentName}}<br>
            <strong>문항수:</strong> {{model.questionCount}}<br>
        </div>

        <form>
            {{#model.questions}}
                <div class="card mb-4 question-card">
                    <div class="card-body">
                        <input type="hidden" class="questionNo" value="{{no}}">
                        <h5 class="card-title">{{no}}. {{title}}</h5>
                        <div class="badge bg-secondary my-2">배점: {{totalPoint}}점</div>

                        {{#stimulusImg}}
                            <div>
                                <img src="{{stimulusImg}}" alt="지문 이미지" class="img-fluid mb-3"
                                     style="max-height: 200px;">
                            </div>
                        {{/stimulusImg}}


                        <div>
                            {{#options}}
                                <div class="form-check mb-1 d-flex align-items-center">
                                    <input class="form-check-input me-2 optionNo" type="radio"
                                           name="question-{{questionId}}" value="{{no}}">
                                    <label>
                                        {{no}}. {{content}}
                                    </label>
                                </div>
                            {{/options}}
                        </div>
                    </div>
                </div>
            {{/model.questions}}

            <button type="button" onclick="sendAnswer()" class="btn btn-primary">제출하기</button>
        </form>
    </div>
</div>

<script>
    function sendAnswer() {
        let requestBody = {
            paperId: {{model.paperId}},
            teacherName: "{{model.teacherName}}",
            answers: []
        };

        let items = document.querySelectorAll(".questionNo");
        items.forEach(el => {
            const questionNo = el.value;
            const tr = el.closest(".card");
            const selected = tr.querySelector(".optionNo:checked");
            const selectedOptionNo = selected ? selected.value : null;

            requestBody.answers.push({
                questionNo: Number(questionNo),
                selectedOptionNo: Number(selectedOptionNo)
            });
        });

        fetch("/api/student/exam/mcq", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(requestBody)
        })
                .then(res => {
                    if (!res.ok) return res.json().then(err => Promise.reject(err));
                    return res.json();
                })
                .then(res => {
                    console.log(res);
                    location.href = "/api/student/paper";
                })
                .catch(err => {
                    alert(err.msg || "제출 중 오류가 발생했습니다.");
                });
    }
</script>

{{> layout/footer}}
