{{> layout/header}}

<div class="container p-5">
    <div class="card shadow-sm">
        <div class="card-header">
            <b>📺 필독! 튜토리얼 영상</b>
        </div>
        <div class="card-body">
            <div class="ratio ratio-16x9">
                <iframe
                        src="https://www.youtube.com/embed/eBQ02ipa00o"
                        title="YouTube video"
                        allowfullscreen>
                </iframe>
            </div>
        </div>
    </div>
</div>

{{> layout/footer}}
