{{> layout/header}}

<div class="container mt-5 mb-5">
    <div class="subject-form-card">
        <div class="card-header">
            {{courseTitle}} / {{courseRound}}회차 학생 등록
        </div>

        <form id="save-form" action="/api/course-menu/course/{{courseId}}/student/save" method="post">
            <div class="form-section">
                <label class="form-label">학생 이름</label>
                <input type="text" class="form-control" name="name" value="홍길동" placeholder="학생명">
            </div>

            <div class="form-section">
                <label class="form-label">생년월일 (6자리)</label>
                <input type="text" class="form-control" name="birthday" value="860205" placeholder="예: 860205">
            </div>

            <button type="submit" class="btn btn-primary mt-3 form-control">학생 등록</button>
        </form>
    </div>
</div>

{{> layout/footer}}
