{{> layout/header}}

<div class="container p-5">

    <div class="card">
        <div class="card-header"><b>{{courseTitle}}</b></div>

        <div class="card-body">
            <form id="save-form" action="/api/course/{{courseId}}/student/save" method="post">
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="학생명" name="name" value="보스">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="생년원일6자리" name="birthday" value="860205">
                </div>
                <button type="submit" class="btn btn-primary form-control">학생 등록</button>
            </form>
        </div>
    </div>
</div>

<!--<script>-->
<!--    let currentCourseId = $("#select-option").val();-->
<!--    $("#select-option").change(() => {-->
<!--        currentCourseId = $("#select-option").val();-->
<!--        $("#save-form").prop("action", `/api/course/${currentCourseId}/student/save`);-->
<!--    });-->

<!--    $("#select-option").css("color", "blue");-->

<!--    $("#save-form").submit(function (event) {-->
<!--        const selectedVal = $("#select-option").val();-->
<!--        if (selectedVal === "0") {-->
<!--            alert("과정을 선택해주세요.");-->
<!--            event.preventDefault(); // 제출 막기-->
<!--        }-->
<!--    });-->
<!--</script>-->

{{> layout/footer}}